<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Todo App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"  [routerLink]=" [ '/home' ] ">Home</a>
        <a class="nav-link" href="#">sign In</a>
        <a class="nav-link" [routerLink]="['/mainList']">MainList</a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet #outlet="outlet"></router-outlet>
</div>